html {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family:  Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgb(28, 28, 28);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    flex: 1 1 0%;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.bannerpagetop {
    width: 100%;
    height: 90px;
    display: flex;
    -webkit-box-align: center;
    align-items: flex-start;
    background-color: rgba(37, 37, 37, 0.1);
    margin-bottom: 0px;
    border-radius: 0px;
    border-bottom: 1px solid rgba(203, 204, 210, 0.2);
}



.bannercontainer {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 18px;
    padding-right: 18px;
}

.bannercontainersections {
    display: flex;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    flex: 2 1 0%;
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
    justify-content: space-around;
}

.bannerlogoleft {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.bannerbuttonright {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    overflow: visible;
    color: rgb(255, 255, 255);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 8px;
    padding: 8px;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.buttons {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    overflow: visible;
    color: rgb(255, 255, 255);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 8px;
    padding: 8px;
}


.mainpagedisplay {
    
    margin-top: 45px;
    min-height: 50vh;
}

.griddisplayforat {
    
    margin-top: 45px;
    min-height: 50vh;
}

.tradingstation {
    
    margin-top: 10px;
    max-height: fit-content;
}

.mainpagedisplaytradestation{
    
    margin-top: 45px;
    height: 50px;
}

.mainworkspace {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 0px;
}

.lowerworkspace {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0px;
}